* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 41, 6);
    /* background-image: linear-gradient(90deg, rgb(98, 0, 255) 0%, rgb(92, 65, 141) 33%, rgba(87, 199, 133, 1) 60%, rgb(237, 83, 186) 100%); */
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navUl {
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(90deg, rgb(98, 0, 255) 0%, rgb(92, 65, 141) 33%, rgba(87, 199, 133, 1) 60%, rgb(237, 83, 186) 100%); */

    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 13, 13);
}

.navlist .nav-link {
    color: #ffffff;
    font-size: 20px;
    align-items: center;
}

.navlist {
    align-items: center;
}

.navlist .btn {
    white-space: nowrap;
}

.btno {
    background-color: #fd7e7e;
}

.education-img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(248, 244, 244);

}

.education-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(243, 177, 177);
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;


}


.heading-3 {
    color: white;
    font-weight: 600;
}

.heading-3:hover {
    color: rgb(226, 225, 225);
    font-weight: 650;
    transition: 0.3s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

@keyframes slideFade {
    from {
        opacity: 0.5;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.para-1 {
    color: white;
    font-weight: 400;
}

.para-1:hover {
    color: rgb(226, 225, 225);
    font-weight: 450;
    transition: 0.3s;
    cursor: pointer;
}
.paragraph{
    font-size: 30px;
    color: #ffffff;
}
.header-row {
    background-color: #305f2a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}
.header-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}
.middle-row {
    background-color: #305f2a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}
.middle-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}
