* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(12, 41, 6);
    /* background-image: linear-gradient(90deg, rgb(98, 0, 255) 0%, rgb(92, 65, 141) 33%, rgba(87, 199, 133, 1) 60%, rgb(237, 83, 186) 100%); */
}

.logo-1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.navUl {
    background-color: rgb(0, 0, 0);
    /* background-image: linear-gradient(90deg, rgb(98, 0, 255) 0%, rgb(92, 65, 141) 33%, rgba(87, 199, 133, 1) 60%, rgb(237, 83, 186) 100%); */

    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(14, 13, 13);
}

.navlist .nav-link {
    color: #ffffff;
    font-size: 20px;
    align-items: center;
}

.navlist {
    align-items: center;
}

.navlist .btn {
    white-space: nowrap;
}

.btno {
    background-color: #286135;
    border-radius: 15px;
    color: #ffffff;
    border: 2px solid white;
}

.btno:hover {
    background-color: #72ff93;
    border-radius: 15px;
    color: #000000;
    cursor: pointer;
    border: 2px solid rgb(100, 100, 100);

}


.education-img {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(248, 244, 244);
}

.education-img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(11, 57, 3);
    cursor: pointer;
    animation-name: __pulse;
    animation-duration: 2s;
}


.heading-3 {
    color: white;
    /* font-weight: 600; */
    font-size: 50px;
}

.heading-3:hover {
    color: rgb(0, 0, 0);
    /* font-weight: 650; */
    transition: 0.9s;
    cursor: pointer;
    animation-name: __flash;
    animation: slideFade 0.5s ease forwards;
}

.para-1 {
    color: #ffffff;
    font-size: 25px;
}

.para-1:hover {
    color: #ff0000;
}

@keyframes slideFade {
    from {
        opacity: 0.5;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.para-1 {
    color: white;
    font-weight: 400;
}

.para-1:hover {
    color: rgb(226, 225, 225);
    font-weight: 450;
    transition: 0.3s;
    cursor: pointer;
}

.paragraph {
    font-size: 30px;
    color: #ffffff;
}

.header-row {
    background-color: #305f2a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.header-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}

.middle-row {
    background-color: #305f2a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.middle-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}

.second-middle-row {
    background-color: #118302;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.second-middle-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}

.working-row {
    background-color: #305f2a;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.working-row:hover {
    background-color: #53834d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
    cursor: pointer;
}

.section-services {
    background-color: #418139;
    border: 2px solid rgb(1, 62, 1);
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(236, 219, 219);
    padding: 30px;

}

.section-services:hover {
    background-color: #90de86;
    box-shadow: 5px 5px 25px rgb(160, 255, 160);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.paragraph {
    color: #000;
}

.courses-button {
    font-size: 35px;
    font-style: bold;
    background-color: #2c6d3b;
    color: #ffffff;
    border: 2px solid black;
    border-radius: 25px;

}

.courses-button:hover {
    font-size: 36px;
    font-style: bold;
    background-color: #6bfa77;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(180, 252, 186);
}

.card {
    background-color: rgb(99, 179, 74);
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(1, 46, 4);

}

.card:hover {
    background-color: rgb(163, 233, 142);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
}

.Skill-btn {
    font-size: 35px;
    font-style: bold;
    background-color: #2c6d3b;
    color: #ffffff;
    border: 2px solid rgb(2, 58, 17);
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(236, 219, 219);


}

.Skill-btn:hover {
    font-size: 36px;
    font-style: bold;
    background-color: #6bfa77;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgb(1, 76, 29);
}

.content-div {

    position: relative;
    background-color: #135716;
    border-radius: 12px;
    /* margin-top: 390px !important; */
    margin-top: -200px !important;
    margin-left: 250px !important;
    width: 75% !important;
    border-radius: 20px;
    border: 2px solid rgb(162, 248, 162);
    box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.content-div:hover {
    border: 2px solid rgb(0, 0, 0);
    color: #000;
    background-color: #224924;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.img-fluid {
    height: 400px;
}

.mid-img {
    /* max-width: 100%; */
    height: 450px;
    width: 1000px;
    margin-left: 50px;
    border-radius: 20px;
    border: 2px solid #000000;
}

.heading3 {
    color: rgb(255, 255, 255);
}

.para {
    color: rgb(255, 255, 255);
}

.img {
    width: 300px;
    height: 300px;
    border: 2px solid white;
}

.paras {
    color: #ffffff;
    font-size: 25px;
}

.img-1 {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(248, 244, 244);
    width: 350px;
    height: 380px;
}

.img-1:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 25px rgb(11, 57, 3);
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.right-side {
    cursor: pointer;
    animation-name: zoom-In;
    animation-duration: 2s;
}

.contact-button {
    font-size: 35px;
    font-style: bold;
    background-color: #2c6d3b;
    color: #ffffff;
    border: 2px solid rgb(2, 58, 17);
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(236, 219, 219);


}

.contact-button:hover {
    font-size: 36px;
    font-style: bold;
    background-color: #6bfa77;
    color: #000000;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgb(1, 76, 29);
}

.head2 {
    color: white;
    text-align: left;
}

.parag-2 {
    color: white;
    text-align: left;
}

.contact-para {
    padding-top: 200px;
}

.form {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #052401;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(161, 248, 190);
    font-family: Arial, sans-serif;
    border: 2px solid #71ff92;
}

.form:hover {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #23521d;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(161, 248, 190);
    font-family: Arial, sans-serif;
    border: 2px solid #71ff92;
    cursor: pointer;
}

.label,
.label-msg {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form input[type="text"]:hover,
.form textarea:hover {
    border-color: #1a015f;
}

.form input[type="text"]:focus,
.form textarea:focus {
    border-color: #012c0b;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.btn {
    background-color: #c0f8b9;
}

.btn:hover {
    background-color: #01420a;
    color: #ffffff;
    border: 2px solid #052401;
}

.btn:active {
    background-color: #00800b;
    transform: scale(0.98);
}

.e-para {
    color: #fdfafa;
    text-align: center;
}

.tag {
    color: #fcfafa;
    text-decoration: none;
}

.main-footer {
    margin-top: 50px;
    background-color: #000000;
    border: 2px solid green;
    border-radius: 20px;
}

.footer-heading-03 {
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
}

.foot-img {

    text-align: center;
    gap: 2px;
}

.foot-logo {
    width: 200px;
}

.last-div span {
    color: #ffffff;
}

.footer-para {
    color: #ffffff;

}

.footer-para a {
    color: #ffffff;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}

.github-logo {
    width: 35px;
    height: 30px;
    border-radius: 50px;
    text-decoration: none;

}
.section-form:hover{
    cursor: pointer;
    animation-name: zoom-In;
}

@media screen and (max-width: 1422px) {
    body {
        overflow-x: hidden !important;
    }

    .content-div {
        margin-left: 0 !important;
        margin-top: 20px !important;
        width: 100% !important;
    }

    .mid-img {
        margin: 0 auto !important;
        position: static !important;
        width: 712px !important;
        height: 456px !important;
    }
}

@media only screen and (max-width: 1250px) {
    .middle-row {
        max-width: 100%;
        width: 800px;
    }

    .middle-row .content-div {
        flex-direction: column;
    }
}

@media only screen and (max-width: 992px) {
    .mid-img {
        width: 550px !important;
        height: 350px !important;
    }

    .contact-para {
        padding-top: 15px;
    }
}
@media only screen and (max-width:991px){
     .row-footer {
        flex-direction: column;
    }

    .col-lg-6 {
        width: 100%;
        margin-bottom: 25px;
    }

    .footer-heading-03 {
        font-size: 22px;
    }
    .links{
        
    }
}

@media only screen and (max-width: 769px) {
    .mid-img {
        width: 450px !important;
        height: 350px !important;
    }
}

@media only screen and (max-width: 520px) {
    .mid-img {
        width: 350px !important;
        height: 350px !important;
    }
}

@media only screen and (max-width: 420px) {
    .mid-img {
        width: 275px !important;
        height: 300px !important;
    }
}

@media only screen and (max-width: 347px) {
    .mid-img {
        width: 200px !important;
        height: 275px !important;
    }

    .img-1 {
        width: 225px !important;
        height: 250px;

    }
}

@media only screen and (max-width: 300px) {
    .Skill-btn {
        font-size: 25px;
    }

    .Skill-btn:hover {
        font-size: 26px;
    }

    .e-para {
        display: none;
    }

}

@media only screen and (max-width: 280px) {
    .heading-3 {
        font-size: 25px;
    }

    .para-1 {
        font-size: 10;
    }
}

@media only screen and (max-width: 274px) {
    .mid-img {
        width: 150px !important;
        height: 200px !important;
    }

    .img-1 {
        width: 175px !important;
        height: 200px;

    }
}

@media only screen and (max-width: 250px) {
    .Skill-btn {
        font-size: 17px;
    }

    .Skill-btn:hover {
        font-size: 18px;
    }

}

@media only screen and (max-width: 215px) {
    .mid-img {
        width: 125px !important;
        height: 175px !important;
    }
}